<%= simple_form_for(@plane, html: { :class => 'form-horizontal' }, remote: true) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

    <%= f.input :tail_number, wrapper: :prepend do %>
      <%= content_tag :span, "N", class: "add-on" %>
      <%= f.input_field :tail_number, onblur: "value=value.toUpperCase();" %>
    <% end %>

    <%= f.input :base_airport, input_html: { onblur: "value=value.toUpperCase();" } %>

    <div class="control-group">
      <label class="control-label" for="plane_rental_amount">Rental rate</label>
      <div class="controls control-row">
        <div class="input-prepend input-append inline span6">
          <span class="add-on">$</span>
          <input id="plane_rental_amount" class="span6" name="plane[rental_amount]" type="text" value="<%= @plane.rental_amount %>"/>
          <span class="add-on">per hr</span>
        </div>
        <select id="plane_rental_type" class="span3 inline" name="plane[rental_type]">
          <option <%= "selected='selected'" unless @plane.rental_type == "dry" %>>wet</option>
          <option <%= "selected='selected'" if @plane.rental_type == "dry" %>>dry</option>
        </select>
      </div>
    </div>
    <% if current_user.admin %>
      <%= f.input :school_id, collection: School.all, label_method: :name %>
    <% end %>

    <!-- TODO: convert this to wrapper? -->
    <!-- manufacturer -->
    <!-- <div class="control-group string optional">
      <label class="string optional control-label" for="plane_manufacturer">Manufacturer</label>
      <div class="controls">
        <input  autocomplete='off' data-provide='typeahead'
                data-source='<%= [] %>' data-items='4' id='plane_manufacturer' name='plane[manufacturer]' 
                placeholder='Cessna, Diamond, Cirrus, etc' size='50' type='text' value='<%= @plane.manufacturer %>'>
      </div>
    </div> -->
    <%= f.input :manufacturer, placeholder: "Cessna, Diamond, Cirrus, etc" %>

    <!-- TODO: convert this to wrapper? -->
    <!-- model -->
    <!-- <div class="control-group string optional">
      <label class="string optional control-label" for="plane_model">Model</label>
      <div class="controls">
        <input  autocomplete='off' data-provide='typeahead'
                data-source='<%= [] %>' data-items='4' id='plane_model' name='plane[model]' 
                placeholder='172 N, Skyhawk, SR-22, etc' size='50' type='text' value='<%= @plane.model %>'>
      </div>
    </div> -->
    <%= f.input :model, placeholder: "172 N, Skyhawk, SR-22, etc" %>

    <%= f.input :category_value, label: "Category", collection: Plane::CATEGORIES %>
    <%= f.input :aircraft_type_value, label: "Aircraft type", collection: Plane::AIRCRAFT_TYPES %>
    <%= f.input :engine_type_value, label: "Engine type", collection: Plane::ENGINE_TYPES %>
    <%= f.input :endorsement_values, label: "Endorsements", collection: Plane::ENDORSEMENTS, as: :check_boxes %>

    <%= f.input :external_url %>
    
    <%= f.input :notes_text, as: :text, input_html: { :rows => 4 } %>
    <%= f.input :image_url, disabled: true %>
    
  </div>
<% end %>

