<%= simple_form_for(@plane, html: { :class => 'form-horizontal' }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

    <!-- TODO: convert this to wrapper? -->
    <!-- base_airport -->
    <div class="control-group string optional">
      <label class="string optional control-label" for="plane_base_airport">Base Airport</label>
      <div class="controls">
        <input  autocomplete='off' data-provide='typeahead'
                data-source='<%= Plane.all.distinct(:base_airport) %>' data-items='4' id='plane_base_airport' name='plane[base_airport]' 
                size='50' type='text' value='<%= @plane.base_airport %>'
                onblur: 'value=value.toUpperCase();'>
      </div>
    </div>
    <!-- <%= f.input :base_airport, input_html: { onblur: "value=value.toUpperCase();" } %> -->

    <%= f.input :tail_number, wrapper: :prepend do %>
      <%= content_tag :span, "N", class: "add-on" %>
      <%= f.input_field :tail_number, onblur: "value=value.toUpperCase();" %>
    <% end %>

    <!-- TODO: convert this to wrapper? -->
    <!-- code -->
    <div class="control-group string optional">
      <label class="string optional control-label" for="plane_code">Identifier</label>
      <div class="controls">
        <input  autocomplete='off' data-provide='typeahead'
                data-source='<%= Plane.all.distinct(:code) %>' data-items='4' id='plane_code' name='plane[code]' 
                placeholder='C-172, SR-22, etc' size='50' type='text' value='<%= @plane.code %>'
                onblur: 'value=value.toUpperCase();'>
      </div>
    </div>
    <!-- <%= f.input :code, placeholder: "C-172, SR-22, etc", input_html: { onblur: "value=value.toUpperCase();" } %> -->

    <%= f.input :year %>

    <!-- TODO: convert this to wrapper? -->
    <!-- manufacturer -->
    <!-- <div class="control-group string optional">
      <label class="string optional control-label" for="plane_manufacturer">Manufacturer</label>
      <div class="controls">
        <input  autocomplete='off' data-provide='typeahead'
                data-source='<%= [] %>' data-items='4' id='plane_manufacturer' name='plane[manufacturer]' 
                placeholder='Cessna, Diamond, Cirrus, etc' size='50' type='text' value='<%= @plane.manufacturer %>'>
      </div>
    </div> -->
    <%= f.input :manufacturer, placeholder: "Cessna, Diamond, Cirrus, etc" %>

    <!-- TODO: convert this to wrapper? -->
    <!-- model -->
    <!-- <div class="control-group string optional">
      <label class="string optional control-label" for="plane_model">Model</label>
      <div class="controls">
        <input  autocomplete='off' data-provide='typeahead'
                data-source='<%= [] %>' data-items='4' id='plane_model' name='plane[model]' 
                placeholder='172 N, Skyhawk, SR-22, etc' size='50' type='text' value='<%= @plane.model %>'>
      </div>
    </div> -->
    <%= f.input :model, placeholder: "172 N, Skyhawk, SR-22, etc" %>

    <%= f.input :category, collection: Plane::CATEGORIES %>
    <%= f.input :endorsements, collection: Plane::ENDORSEMENTS, as: :check_boxes %>

    <div class="control-group">
      <label class="control-label" for="plane_rental_amount">Rental rate</label>
      <div class="controls control-row">
        <div class="input-prepend input-append">
          <span class="add-on">$</span>
          <input id="plane_rental_amount" name="plane[rental_amount]" type="text" value="<%= @plane.rental_amount %>"/>
          <span class="add-on">per hr</span>
        </div>
        <select id="plane_rental_type" name="plane[rental_type]">
          <option selected="selected">wet</option>
          <option>dry</option>
        </select>
      </div>
    </div>

    <%= f.input :notes_text, as: :text, input_html: { :rows => 4 } %>
    <%= f.input :image_url, disabled: true %>
    
    <% if current_user.admin %>
      <%= f.input :school_id, collection: School.all, label_method: :name %>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
