<div class="row-fluid plane">
  <div class="span2">
    <%= image_tag 'anon_plane_50x60.png', class: 'profile-image' %>
  </div>
  <div class="span8">
    <h4><%= plane.year %> <%= plane.manufacturer.titleize %> <%= plane.name %> <%= plane.model %></h4>

<% if plane.featured? %>
    <div class="row-fluid">

      <div class="span6">
        <% if plane.headline %>
          <p><strong><%= plane.headline %> </strong></p>
        <% end %>
        <% if plane.notes_text %>
          <p><%= plane.notes_text %> </p>
        <% end %>
      </div>
      <div class="span6 school">
        <p><strong><%= plane.school.name.titleize %> </strong></p>
      </div>
    </div>
<% else %>
    <p><strong><%= plane.school.name.titleize %> </strong></p>
<% end %>
  
  

  </div>  
  <div class="span2"><h3><%= rental_text(plane.rental_amount) %> </h3></div>
</div>