<!-- Lister details:

if no school association:
  name
  website
  email
  phone
  facebook page (?)
  
if school:
  preview school info
  prompt to add school
  

Billing details:

prompt for or verify billing info

select plan
  One year featured listing - $40
  Lifetime featured listing - $100


  Coupon code: [   ]


 information:

Use "Sawyer Aviation" information
Create a new school
Use  -->
<% provide(:title, "EasyPlaneRental.com - Claim Ownership for #{params[:id].upcase}") %>

<!-- sidebar -->
<div class="row-fluid">

  <div id="result-container" class="span10">
    
    <div id="result-header">
      <h4>Claim Ownership for <%= params[:id].upcase %></h4>
    </div>

    <div class="row-fluid">

      <%= simple_form_for(@plane, html: { :class => 'form-horizontal' }, remote: true) do |f| %>

      <div class="span11">
        <fieldset>
          <legend>Ownership Information</legend>
          <p>EasyPlaneRental.com allows every plane to have one owner.  Claiming a plane on behalf of a school or club provides several benefits:
            <ul>
              <li>Owners have exclusive access to maintaining plane information, ensuring information is up-to-date and relevant</li>
              <li>Owners can differentiate their plane by providing extra details like equipment descriptions, photos, and checkout requirements</li>
              <li>Owners can link to schedules and their company website to make it as painless as possible for renters</li>
            </ul>
          </p> 
        </fieldset>
      </div>
      
      <div id="plane-data" class="span5">
        <fieldset>
          <legend>School/Club Information</legend>
          
          <% if current_user.admin %>
            <%= f.input :school_id, collection: School.all, label: "Name" %>
          <% end %>

          <%= f.simple_fields_for :school do |s| %>
                <%= s.input :name %>
                <%= s.input :website %>
                <%= s.input :address, as: :text, input_html: { rows: 3 } %>
                <%= s.input :phone %>
                <%= s.input :email %>
                <%= s.input :base_airport %>
              </div>
          <% end %>
          
        </fieldset>
      </div>

      <div id="rental-data" class="span6">
        <fieldset>
          <legend>Account Information</legend>
          <% if @plane.featured? %>
            <p>This plane is owned and listed by <a href="<%= @plane.school.website %>" target="_blank"><%= @plane.school.name %></a>.</p>
            
            <div class="media">
              <a class="pull-left" href="<%= @plane.school.website || '#' %>" target="_blank">
                <img class="media-object" src="http://sawyeraviation.com/wp-content/uploads/2012/04/The-New-Sawyer-Logo-Horizon2.jpg">
              </a>
              <div class="media-body">
                <address>
                  <strong><%= @plane.school.name %></strong><br>
                  <%= "<a href='#{@plane.school.website}' target='_blank'>#{@plane.school.website}</a><br/>".html_safe if @plane.school.website.present? %>
                  <%= "#{@plane.school.address}<br/>".html_safe if @plane.school.address.present? %>
                  <%= "#{@plane.school.email}<br/>".html_safe if @plane.school.email.present? %>
                  <%= "#{@plane.school.phone}<br/>".html_safe if @plane.school.phone.present? %>
                </address>
              </div>
            </div>
            <% if current_user.school == @plane.school %>
              <p>Featured listing expires <%= @plane.featured_until %></p>
              <p><%= link_to "Click here", edit_school_path(@plane.school) %> to edit school information</p>
            <% else %>
              <p>A featured listing can only be edited by the owner.</p>
              <p>Something look incorrect?  <a href="#">Notify <%= @plane.school.name %>.</a></p>
            <% end %>
          <% elsif @plane.listing_incomplete? %>
            <p>The rental information for this plane may be incomplete.</p>
            <p>Please help the pilot community by improving this listing with any additional details you know.</p>
            <p><strong>Own/manage this plane?</strong> <%= link_to "Claim ownership", claim_plane_path(@plane) %> to add details, feature it, and get exclusive access to editing rental information.</p>
          <% else %>
            <p>The plane <%= @plane.tail_number %> does not yet appear to be listed.</p>
            <p>Know of rental details?  Please add them below to help the pilot community!</p>
            <p><strong>Own/manage this plane?</strong> <%= link_to "Claim ownership", claim_plane_path(@plane) %> to add details, feature it, and get exclusive access to editing rental information.</p>
          <% end %>

          <br/>
          <%= f.input :base_airport, input_html: { onblur: "value=value.toUpperCase();" } %>

          <div class="control-group">
            <label class="control-label" for="plane_rental_amount">Rental rate</label>
            <div class="controls control-row">
              <div class="input-prepend input-append inline span6">
                <span class="add-on">$</span>
                <input id="plane_rental_amount" class="span6" name="plane[rental_amount]" type="text" value="<%= @plane.rental_amount %>"/>
                <span class="add-on">per hr</span>
              </div>
              <select id="plane_rental_type" class="span3 inline" name="plane[rental_type]">
                <option <%= "selected='selected'" unless @plane.rental_type == "dry" %>>wet</option>
                <option <%= "selected='selected'" if @plane.rental_type == "dry" %>>dry</option>
              </select>
            </div>
          </div>
          <% if current_user.admin %>
            <%= f.input :school_id, collection: School.all, label_method: :name %>
          <% end %>
          <%= f.input :external_url %>
          <%= f.input :notes_text, as: :text, input_html: { :rows => 4 } %>
          <%= f.input :image_url, disabled: true %>
          
        </fieldset>
      </div>


      <div class="form-actions">
        <%= f.button :submit %>
      </div>
      
      <% end %>

    </div>

  </div>

  <div id="advertisement-container" class="span2">
    <div class="advertisement">
      Feature listing/school #1
    </div>
    <div class="advertisement">
      Feature listing/school #2
    </div>
    <div class="advertisement">
      Feature listing/school #3
    </div>
  </div>
  
</div>