<% provide(:title, 'Search Results') %>

<!-- sidebar -->
<div class="row-fluid">

  <div id="result-container" class="span10">
    
    <div id="result-header">
      <h4><%= pluralize(@planes.count, 'matching plane') %></h4>
    </div>

    <div class="row-fluid">

      <div id="filter-container" class="span3">
        <%= simple_form_for @filter, method: "get", url: planes_path do |f| %>
          <%= f.hidden_field :previous_query, value: @filter.query %>
          <%= f.input :query, label: false, input_html: { class: "span12" }, placeholder: "Airport or Tail Number" %>
          <%= f.button :submit, "Update filter" %>
          
          <% unless @endorsement_options.length < 1 %>
          <div class='filter-group'>
            <div class='hidden-actions pull-right'>
              <div>
                <a class='select-all'>all</a>
                <a class='select-none'>none</a>
              </div>
            </div>
            <legend>Endorsements</legend>
            <%= f.input :endorsements, collection: @endorsement_options, hidden_fields: false, label: false, as: :check_boxes %>
          </div>
          <% end %>
          
          <% unless @category_options.length < 1 %>
          <div class='filter-group'>
            <div class='hidden-actions pull-right'>
              <div>
                <a class='select-all'>all</a>
                <a class='select-none'>none</a>
              </div>
            </div>
            <legend>Categories</legend>
            <%= f.input :categories, collection: @category_options, label: false, as: :check_boxes %>
          </div>
          <% end %>
          
          <% unless @aircraft_type_options.length < 1 %>
          <div class='filter-group'>
            <div class='hidden-actions pull-right'>
              <div>
                <a class='select-all'>all</a>
                <a class='select-none'>none</a>
              </div>
            </div>
            <legend>Aircraft Types</legend>
            <%= f.input :aircraft_types, collection: @aircraft_type_options, label: false, as: :check_boxes %>
          </div>
          <% end %>
          
          <% unless @engine_type_options.length < 1 %>
          <div class='filter-group'>
            <div class='hidden-actions pull-right'>
              <div>
                <a class='select-all'>all</a>
                <a class='select-none'>none</a>
              </div>
            </div>
            <legend>Engine Types</legend>
            <%= f.input :engine_types, collection: @engine_type_options, label: false, as: :check_boxes %>
          </div>
          <% end %>
          
        <% end %>
      </div>

      <div id="list-container" class="span9">
        <table class="table table-hover table-condensed">
          <thead>
            <tr>
              <th>Tail</th>
              <th>Year</th>
              <th>Description</th>
              <th>Type</th>
              <th>Rental</th>
              <th></th>
              <th></th>
            </tr>
          </thead>

          <% @planes.each do |plane| %>
            <tr data-id="<%= plane.id %>">
              <td><%= plane.tail_number %></td>
              <td><%= plane.year %></td>
              <td><%= plane.manufacturer.titleize %> <%= plane.model %></td>
              <td><%= plane.abbreviated_type %></td>
              <td><%= plane.rental %></td>
              <td><a data-toggle="modal" href="<%= edit_plane_path(plane) %>" data-target="#edit-modal">Edit</a></td>
              <td><%= link_to 'Destroy', plane, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>

        </table>

        <%= paginate @planes %>

        <a data-toggle="modal" href="<%= new_plane_path %>" data-target="#edit-modal">New Plane</a>

      </div>

    </div>

    <div id="edit-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Edit plane</h3>
      </div>
      <div class="modal-body">
        <p>Loading data…</p>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <button class="btn btn-primary" id="edit-modal-submit">Save changes</button>
      </div>
    </div>

    <script>
      $('#edit-modal-submit').on('click', function(e){
        // We don't want this to act as a link so cancel the link action
        e.preventDefault();

        // Find form and submit it
        $('#edit-modal form').submit();
      });
      
      $(document).on('submit', '#edit-modal form', function() {  
          var valuesToSubmit = $(this).serialize();
          $.ajax({
              type: $(this).attr('method'),
              url: $(this).attr('action'), 
              data: valuesToSubmit
          }).success(function(json){
              $('#edit-modal').modal('hide');
          })
          return false; // prevents normal behaviour
      });
    </script>
    
  </div>

  <div id="advertisement-container" class="span2">
    <div class="advertisement">
      Feature listing/school #1
    </div>
    <div class="advertisement">
      Feature listing/school #2
    </div>
    <div class="advertisement">
      Feature listing/school #3
    </div>
  </div>
  
</div>
