<!-- <% provide(:title, 'Home') %>
<div class="center">
  <h1><%= t(:site_name) %></h1>

  <h2>
    The best way to find or list planes for rent.
  </h2>

  <div >
    <%= form_tag search_planes_path, :method => 'get' do  %>
      <%= text_field_tag :search, params[:search], placeholder: "Enter an address, airport, flight school, or tail number to search" %>
      <%= submit_tag "Search", :name => nil, class: "btn btn-large btn-primary" %>
    <% end %>
  </div>

</div> -->

<div class="row">
  <div class="span4">
    <%= form_tag search_planes_path, :method => 'get' do  %>
      <section class="sidenav">
        <p class="lead">Search here</p>
        <p>Find planes for rent by address, airport, flight school, or tail number</p>
        <%= text_field_tag :search, params[:search], placeholder: "Enter an address, airport, flight school, or tail number to search" %>
        <%= submit_tag "Search", :name => nil, class: "btn btn-primary" %>
      </section>
    <% end %>
  </div>

  <div class="span8">
    <section class="results">
      <%= render(@planes) || render(partial: "empty_search") %>
      <!-- <ul>
        <li>item 1</li>
        <li>item 1</li>
        <li>item 1</li>
      </ul> -->
    </section>
  </div>
</div>