<%= render(@plane) %>

<!-- <div >
      
  <div class="navbar navbar-static-top">
    <div class="navbar-inner">
      <a class="brand" href="#">Title</a>
      <ul class="nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
      </ul>
    </div>
  </div>
  
  
  <p id="notice"><%= notice %></p>

  <p>
    <b>Image url:</b>
    <%= @plane.image_url %>
  </p>

  <p>
    <b>Base airport:</b>
    <%= @plane.base_airport %>
  </p>

  <p>
    <b>Name:</b>
    <%= @plane.name %>
  </p>

  <p>
    <b>Tail number:</b>
    <%= @plane.tail_number %>
  </p>

  <p>
    <b>Notes text:</b>
    <%= @plane.notes_text %>
  </p>

  <p>
    <b>Rental amount:</b>
    <%= @plane.rental_amount %>
  </p>

  <p>
    <b>Rental type:</b>
    <%= @plane.rental_type %>
  </p>

  <p>
    <b>Make:</b>
    <%= @plane.make %>
  </p>

  <p>
    <b>Model:</b>
    <%= @plane.model %>
  </p>

  <p>
    <b>Year:</b>
    <%= @plane.year %>
  </p>

  <p>
    <b>Year:</b>
    <%= @plane.school.name %>
  </p>
</div>

<%= link_to 'Edit', edit_plane_path(@plane) %> |
<%= link_to 'Back', planes_path %> -->
