<% provide(:title, 'Home') %>
<style type="text/css">

      /* Main marketing message and sign up button */
      .landing-main {
        margin: 60px 0 20px 0;
        text-align: center;
      }

      .landing-main h2 { margin-bottom: 20px; }
      
      form { text-align: center; }
</style>

<div class="container">
  
  <div class="landing-main">
    <h2>The best way to find or list planes for rent.</h2>
  </div>

  <%= form_tag search_planes_path, :method => 'get' do  %>  
    <div class="input-append">
        <%= text_field_tag :search, params[:search], class: "span6", placeholder: "Enter any location or airport ID" %>
        <%= submit_tag "Search", :name => nil, class: "btn btn-primary" %>
    </div>
  <% end %>
  
  <p class="center">
    <% if user_signed_in? %>
    Help keep data current by <%= link_to "listing new planes", new_plane_path %> and <%= link_to "updating", planes_path %> your existing rental details 
    <% else %>
    <%= link_to "Sign up", new_user_registration_path %> to list planes or edit rental information
    <% end %>
  </p>
</div>