<h2>Sign up</h2>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    
    <fieldset>
    <legend>Account information</legend>
    <%= f.input :email, :required => false, :autofocus => true, :type => :email %>
    <%= f.input :password %>
    <%= f.input :password_confirmation %>
    </fieldset>
    
    <legend>Your details<br/><small>This information is optional - it is never shared, just used to improve your experience here<small></legend>
    <%= f.input :base_airport, :required => false %>

    <legend>Listing planes<br/><small>To list planes, we need just a bit more information<small></legend>
    
    <%= f.input :name %>
    <%= f.input :website %>
    <%= f.input :phone %>
    <%= f.input :image_url %>
    
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
