<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="row">
  <div class="span6 offset3">
    <%= simple_form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>
      
      <h3>Required information</h3>
      <%= f.input :email %>
      <small>FindYourPlane.com will never share your email address without your permission.</small>
      <%= f.input :password, :hint => false %>
      <%= f.input :password_confirmation, :label => false %>
      
      <h3>About you</h3>
      <p class="muted">None of this data is required, and it will never be shared without your permission.  Providing this helps tailor your results and improves your experience on this website.</p>
      <%= f.input :base_airport %>
      
      <h3>Want to list planes?  We need just a bit more information.</h3>
      
      <%= f.input :name %>
      <%= f.input :website %>
      <%= f.input :phone %>
      
      

      <%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>