<% provide(:title, 'All planes') %>

<div class="row">
  <div class="span6 offset3">
  
  <%= form_tag planes_path, class: "form-inline", method: 'get'  do  %>
    <%= text_field_tag :search, "", class: "input-medium", placeholder: "Enter tail # or keywords" %>
    <%= submit_tag "Search", :name => nil, class: "btn" %>
    <%= link_to "New Plane", new_plane_path, class: "btn" %>
  <% end %>

  </div>
</div>

<div class="row">  
  <div class="span8 offset2">
    <table class="table table-bordered">
      <thead>
        <tr><h3><%= table_header %></h3></tr>
        <tr>
          <th>Tail #</th>
          <th>Name</th>
          <th>Base Airport</th>
        </tr>
      </thead>
      <tbody>
        <% @planes.each do |plane| %>
          <tr>
            <th><%= link_to plane.tail_number, edit_plane_path(plane.id) %></th>
            <th><%= plane.name %></th>
            <th><%= plane.base_airport %></th>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

